* {
    font-family: sans-serif;
}
.wrapper{
    border-radius: 10px;
    background-color: white;
    padding: 5px;
    min-height: 300px;
}


/* ---------- LOGO ---------- */
    .topNav img{
        width: 180px;
        display: inline-block;
    }
    .topNav .center_title{
        display: inline-block;
        vertical-align: top;
        margin-left: 50px;
    }
    .topNav button{
        display: inline-block;
        vertical-align: top;
        margin: 10px;
        padding: 10px;
    }


/* ============= DASHBOARD =========== */

/* ----------- all inside product list ----- */
    div.product_list{
        background-color: white;
        border-radius: 15px;
        padding: 8px;
    }


/* ----------- SEARCH ------------- */
div.search{
    display: block;
    background-color:#BCD4DE;
    /* width: 800px; */
    border-radius: 8px;
    width: 30%;
    padding: 5px;
    margin: 0 auto;
    margin-top: -20px;
    text-align: center;
    margin-bottom: 10px;
}
/* ----- SEARCH INPUT----- */
    .search input{
        /* margin-top: 5px; */
        padding: 6px;
        margin-right: 20px;
        border: none;
        font-size: 17px;
        min-width: 200px;

        border-radius: 15px 15px 15px 15px;
        -moz-border-radius: 15px;
        border: solid 1px #121619;
    }
        .search img{
            width: 18px;
        }


        .pages{
            margin-top: 10px;
            margin-bottom: 10px;
            background-color:white;
            text-align: center;
        }


/* ---------- LEFT FILTERS --------- */
div.left_filters{
    padding: 5px;
    width: 140px;
    height: 300px;
    display: inline-block;
    vertical-align: top;
    background-color: white;
    border-radius: 15px;
}
    div.sort{
        background-color: #DEE7E7;
        padding: 3px;
        border-radius: 5px;
        margin-bottom: 5px;
    }


/* ----------- TABLE --------- */
div.table{
    display: inline-block;
    min-width: 720px;
    vertical-align: top;
    margin-left: 10px;
    /* background-color: #4CAF50; */
}
tr:nth-child(even){
    background-color: #DEE7E7;
}
.product_list table{
    padding: 10px;
    width: 90%; 
    margin: 0 auto;
    margin-left: 110px;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid #121619;
    /* border-collapse: collapse; */
}
.product_list thead{
    background-color: #BCD4DE ;
    color: white;
    border-collapse: collapse;
}
.product_list thead, tr, td{
    border-bottom: 1px solid #ddd;
}
.product_list tr:hover {background-color: #f5f5f5;}
.product_list .table img{
    height: 40px;
}