
<head>
  
</head>
<div class="wrapper">

  <div class="container">
    <h3>LOGIN</h3>

    <form (submit)="login()">
      <label>
        <b>Email</b>
      </label>
      <br>

      <input [(ngModel)]="loginUser.email" #email="ngModel" name="loginUser.email" type="email" name="email" placeholder="Email"
        required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" minlength="4">
      <!-- EMAIL VALIDATIONS -->
      <div *ngIf="email.errors && (email.dirty || email.touched)">



        <p id="isa_error" *ngIf="email.errors.required">
          <i class="fa fa-times-circle"></i>
          Email cannot be empty.
        </p>

        <p id="isa_error" *ngIf="email.errors.minlength">
          <i class="fa fa-times-circle"></i>
          Email must be more than 4 characters.
        </p>

        <p id="isa_error" *ngIf="email.errors.pattern">
          <i class="fa fa-times-circle"></i>
          Email format is incorrect. EX: email_123@yahoo.com
        </p>

      </div>


      <br>
      <label>
        <b>Password</b>
      </label>
      <br>
      <input [(ngModel)]="loginUser.password" name="loginUser.password" type="password" name="password" placeholder="Password"
        required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).{6,12}$" minlength="5" #password="ngModel">
      <br>
      <!-- PASSWORD VALIDATIONS -->
      <div *ngIf="password.errors && (password.dirty || password.touched)">

        <p id="isa_error" *ngIf="password.errors.required">
          <i class="fa fa-times-circle"></i>
          Password cannot be empty.
        </p>

        <p id="isa_error" *ngIf="password.errors.minlength">
          <i class="fa fa-times-circle"></i>
          Password must contain at least 5 characters.
        </p>

        <p id="isa_error" *ngIf="password.errors.pattern">
          <i class="fa fa-times-circle"></i>
          Password must contain at least 1 uppercase letter, 1 lowercase letter and a number.
        </p>

      </div>
      <button type="submit">Login</button>
      <!-- <hr> email: {{ loginUser | json }}
      <br> pass: {{ loginUser.pass }}
      <br> -->
    </form>
  </div>




</div>