.wrapper{
    background-color: white;
    /* gradient effect */
    /* background-image: linear-gradient( #949BA0, #BCD4DE ); */
    padding: 5px;
    min-height: 300px;
}

.login-main{
    
}

input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #BCD4DE;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.5;
}

.container {
    padding: 16px;
    background-color: white;
    width: 500px;
    margin: 0px auto;
    border-radius: 10px;
}
