<div class="wrapper">
  Login Component
  <br>
  <a [routerLink]="['/']">Back Home</a>
  <hr>

  <div class="container">
    <h2>LOGIN</h2>
    <form (submit)="login()"> 
      <label><b>Email</b></label>
      <br>
      <input [(ngModel)]="loginUser.email" #nameUser = "ngModel" name="loginUser.email" type="email" name="email" placeholder="Email" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
      <!-- <div *ngIf="nameUser.errors"> </div> -->
      <br> <label><b>Password</b></label>
      <br>
      <input [(ngModel)]="loginUser.password" name="loginUser.password" type="password" name="password" placeholder="Password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).{6,12}$">
      <br>
      <br>
      <button type = "submit">Login</button>
      <!-- <hr> email: {{ loginUser | json }}
      <br> pass: {{ loginUser.pass }}
      <br> -->
    </form>
  </div>




</div>