<div class="wrapper">

  <div class="search">
        <input (keyup)="onKey($event)" class="search-container" type="text" placeholder="Search...">
        <button type="submit">
            Search
        </button>
    </div>
  <br>
 
  <hr>


<!-- ************* MAIN CONTENT ************ -->

<!-- =========== LEFT FILTER ============ -->
<div class="content_wrap">

    <div class="left_filter">
        <b>Sort by:</b>
        <br>
        <hr>
        <br>
        <div class="filter_price">
            <button (click)= "priceHighToLow()">Price (High - Low) ▲</button>
            <br>
            <button (click)= "priceByOrder()">Price (Low - High) ▼</button>
           
        </div>
    </div>
    
    <div class="content">

       
        <!-- content -->
        
        <div *ngFor = "let product of allProducts" class="item">
            <img class="product_img" src="images/product_img/1.jpg" alt="">
            <div class="mid_item">
                <h2>{{product.product_name}}</h2>
                <hr>
                
                <img class="stars" src="images/star_rating.png" alt="">
                <br>
                <span>QTY: </span><input type="text">
                <br>
                <button (click) = "addToCartBtn(product.id)">ADD TO CART</button>
            </div>
            <div class="right_item">
                <h3>Price: ${{product.price}}</h3>
                Description: {{product.description}}
            </div>
        </div>
        
    </div>
</div>