*{
    /* outline: 1px dotted red; */
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
div.wrapper{
    /* align-content: center; */
    margin-left: 8%;
    margin-right: 8%;
    min-height: 500px;
    max-width: 1300px;
}


/* ============ TOP NAV ============= */
div.topNav{
    overflow: hidden;
    background-color: whitesmoke;
    min-height: 42px;
    align-content: center;
}
/* ---------- LOGO ---------- */
    .topNav img{
        width: 180px;
        display: inline-block;
    }
    /* ---------- SEARCH ------- */
    .topNav .search{
        vertical-align: top;
        margin-top: 10px;
        margin-left: 20px;
        display: inline-block;
    }
    .topNav input{
        /* margin-top: 5px; */
        padding: 6px;
        border: none;
        font-size: 17px;
        width: 400px;
        border-radius: 15px 15px 15px 15px;
        -moz-border-radius: 15px;
        border: solid 1px rgb(250, 173, 68);
    }
        .topNav .search img{
            width: 14px;
        }




    /* CART============= */
    .topNav .cart{
        min-width: 30px;
        height: 35px;
        margin-top: 10px;
        padding: 5px;
        display: inline-block;
        vertical-align: top;
        background-color: white;
        border-radius: 15px;
        border: 1px solid rgb(130, 39, 23);
    }
        .cart img{
            /* margin-top: 10px; */
            display: inline-block;
            vertical-align: top;
            margin-top: -2px;
            height: 30px;
            width: 30px;
        }
        .cart .cart_num{
            /* margin-top: 10px; */
            color: rgb(130, 39, 23);
            display: inline-block;
            vertical-align: middle;
            font-size: 20pt;
            margin-top: -5px;
        }



/* * * * * * * * * * * MAIN CONTENT * * * * * * * * * */

div.content_wrap{
    background-color: whitesmoke;
}
/* =========== LEFT FILTER =========== */
div.left_filter{
    background-color: whitesmoke;
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 500px;
    padding: 10px;
}
    .left_filter .filter_price{
        background-color: whitesmoke;
        width: auto;
        /* height: 100px; */
        height: auto;
        /* margin: 10px; */
    }

/* ============ MAIN CONTENT & PAGES ========= */
div.content{
    background-color: whitesmoke;
    display: inline-block;
    vertical-align: top;
    width: 750px;
    min-height: 600px;
}

    .content .pages{
        margin-top: 10px;
        margin-bottom: 10px;
        background-color:#BCD4DE;
        text-align: center;
    }

    div.item{
        border-radius: 15px;
        margin: 10px;
        background-color: whitesmoke;
        opacity: 0.8;
        border-bottom: 1px solid #BCD4DE;
        min-height: 60px;
        width: 750px;
    }
    /* --------- PRODUCT IMG --------- */
        .content .item .product_img{
            border-radius: 15px 15px 15px 15px;
            width: 150px;
            margin: 5px;
            display: inline-block;
            vertical-align: top;
        }
            .stars{
                display: inline-block;
                height: 20px;
            }
            
        .content .item .mid_item{
            display: inline-block;
            vertical-align: top;
            /* background-color: cadetblue; */
        }
        .content .item .right_item{
            display: inline-block;
            vertical-align: top;
            /* background-color: cornsilk; */
            width: 300px;
        }


/**************************************
**             BUTTONS               **
**************************************/

/* ====== SEARCH BUTTON ========= */
div.search {
    display: block;
    background-color:#BCD4DE;
    /* width: 800px; */
    border-radius: 8px;
    width: 30%;
    padding: 5px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
}
    div.search button:hover{
        color: white;
        background-color: rgb(250, 173, 68);
    }
    button.addToCartBtn{
        margin-top: 5px;
        margin-bottom: 5px;
        /* height: 40px;
        width: 80px; */
        padding: 10px 25px;
        border: none;
        border-radius: 15px;
        text-align: center;
        font-size: 18px;
        border: 2px solid #BCD4DE; 
        background-color: white; /* Green */
        /* webkit-transition-duration: 0.4s; Safari */
        transition-duration: 0.4s;
    }
        button.addToCartBtn:hover {
            background-color: #BCD4DE; /* Green */
            color: white;
            /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); */
        }
    
    /* ========== USER BUTTON LOGIN REGISTER ===== */
        button.logreg{
            vertical-align: top;
            margin-top: 8px;
            background-color: white;
            border: 1px solid rgb(130, 39, 23);
            border-radius: 15px;
            height: 40px;
            transition-duration: 0.4s;
        }
            button.logreg:hover{
                background-color: rgb(250, 173, 68);
            }

/* ============ each product ADD to CARD BUTTON */
.item button{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: aqua;
    padding: 5px 15px;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    border: 2px solid #BCD4DE; 
    background-color: white; /* Green */
    /* webkit-transition-duration: 0.4s; Safari */
    transition-duration: 0.4s;
}
    .item button:hover {
        background-color: #BCD4DE; /* Green */
        color: white;
        /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); */
    }