<div class="wrapper">
  products component
  <br>
  <a [routerLink]= "['/']">back to main</a>
  <hr>

<!-- *************************************** -->
<!-- ************* MAIN CONTENT ************ -->
<!-- *************************************** -->

<!-- =========== LEFT FILTER ============ -->
<div class="content_wrap">

    <div class="left_filter">
        <b>CATEGORY:</b>
        <br>
        TEDDY BEARS
        <hr>
        <br>
        <div class="filter_price">
            <a href="">price ascending ▲</a>
            <br>
            <a href="">price descending ▼</a>
            <hr>
        </div>
    </div>
    
    <div class="content">

        <div class="pages">
            < 1 | 2 | 3 | 4 | 5 | .... | 14 >
        </div>
        <!-- content -->
        
        <div class="item">
            <img class="product_img" src="images/product_img/1.jpg" alt="">
            <div class="mid_item">
                <h2>Product X</h2>
                <h3>$34.99</h3>
                <img class="stars" src="images/star_rating.png" alt="">
                <img class="stars" src="images/star_rating.png" alt="">
                <img class="stars" src="images/star_rating.png" alt="">
                <img class="stars" src="images/star_rating.png" alt="">
                <img class="stars" src="images/star_rating.png" alt="">
                <br>
                <span>QTY: </span><input type="text">
                <br>
                <button>ADD TO CART</button>
            </div>
            <div class="right_item">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laudantium ex sequi nam est atque.
            </div>
        </div>
        
        <div class="item">
            <img class="product_img" src="images/product_img/2.jpg" alt="">
            <div class="mid_item">
                <h2>Product X</h2>
                <h3>$34.99</h3>
                <img class="stars" src="images/star_rating.png" alt="">
                <img class="stars" src="images/star_rating.png" alt="">
                <img class="stars" src="images/star_rating.png" alt="">
                <img class="stars" src="images/star_rating.png" alt="">
                <img class="stars" src="images/star_rating.png" alt="">
                <br>
                <span>QTY: </span><input type="text">
                <br>
                <button>ADD TO CART</button>
            </div>
            <div class="right_item">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laudantium ex sequi nam est atque.
            </div>
        </div>
        
        <div class="item">
            <img class="product_img" src="images/product_img/3.jpg" alt="">
            <div class="mid_item">
                <h2>Product X</h2>
                <h3>$34.99</h3>
                <img class="stars" src="images/star_rating.png" alt="">
                <img class="stars" src="images/star_rating.png" alt="">
                <img class="stars" src="images/star_rating.png" alt="">
                <img class="stars" src="images/star_rating.png" alt="">
                <img class="stars" src="images/star_rating.png" alt="">
                <br>
                <span>QTY: </span><input type="text">
                <br>
                <button>ADD TO CART</button>
            </div>
            <div class="right_item">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laudantium ex sequi nam est atque.
            </div>
        </div>

        <div class="item">
            <img class="product_img" src="images/product_img/4.jpg" alt="">
            <div class="mid_item">
                <h2>Product X</h2>
                <h3>$34.99</h3>
                <img class="stars" src="images/star_rating.png" alt="">
                <img class="stars" src="images/star_rating.png" alt="">
                <img class="stars" src="images/star_rating.png" alt="">
                <img class="stars" src="images/star_rating.png" alt="">
                <img class="stars" src="images/star_rating.png" alt="">
                <br>
                <span>QTY: </span><input type="text">
                <br>
                <button>ADD TO CART</button>
            </div>
            <div class="right_item">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laudantium ex sequi nam est atque.
            </div>
        </div>

        <div class="item">
            <img class="product_img" src="images/product_img/5.jpg" alt="">
            <div class="mid_item">
                <h2>Product X</h2>
                <h3>$34.99</h3>
                <img class="stars" src="images/star_rating.png" alt="">
                <img class="stars" src="images/star_rating.png" alt="">
                <img class="stars" src="images/star_rating.png" alt="">
                <img class="stars" src="images/star_rating.png" alt="">
                <img class="stars" src="images/star_rating.png" alt="">
                <br>
                <span>QTY: </span><input type="text">
                <br>
                <button>ADD TO CART</button>
            </div>
            <div class="right_item">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laudantium ex sequi nam est atque.
            </div>
        </div>

        <div class="item">
            <img class="product_img" src="images/product_img/6.jpg" alt="">
            <div class="mid_item">
                <h2>Product X</h2>
                <h3>$34.99</h3>
                <img class="stars" src="images/star_rating.png" alt="">
                <img class="stars" src="images/star_rating.png" alt="">
                <img class="stars" src="images/star_rating.png" alt="">
                <img class="stars" src="images/star_rating.png" alt="">
                <img class="stars" src="images/star_rating.png" alt="">
                <br>
                <span>QTY: </span><input type="text">
                <br>
                <button>ADD TO CART</button>
            </div>
            <div class="right_item">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laudantium ex sequi nam est atque.
            </div>
        </div>
        
        content
        
        <div class="pages">
            < 1 | 2 | 3 | 4 | 5 | .... | 14 >
        </div>
        
    </div>
</div>