

*{
    /* outline: 1px dotted red; */
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
div.wrapper{
    /* align-content: center; */
    margin-left: 8%;
    margin-right: 8%;
    min-height: 500px;
    max-width: 1300px;
}



/* * * * * * * * * * * MAIN CONTENT * * * * * * * * * */

div.content_wrap{
    background-color: whitesmoke;
}
/* =========== LEFT FILTER =========== */
div.left_filter{
    background-color: whitesmoke;
    display: inline-block;
    vertical-align: top;
    width: 150px;
    height: 500px;
    padding: 10px;
}
    .left_filter .filter_price{
        background-color: white;
        width: auto;
        /* height: 100px; */
        height: auto;
        /* margin: 10px; */
    }

/* ============ MAIN CONTENT & PAGES ========= */
div.content{
    background-color: white;
    display: inline-block;
    vertical-align: top;
    width: 700px;
    min-height: 600px;
}

    .content .pages{
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: rgb(254, 137, 98);
        text-align: center;
    }

    div.item{
        border-radius: 15px;
        margin: 10px;
        background-color: white;
        opacity: 0.8;
        border-bottom: 1px solid #BCD4DE;
        min-height: 60px;
        width: 700px;
    }
    /* --------- PRODUCT IMG --------- */
        .content .item .product_img{
            border-radius: 15px 15px 15px 15px;
            width: 150px;
            margin: 5px;
            display: inline-block;
            vertical-align: top;
        }
            .stars{
                display: inline-block;
                height: 20px;
            }
            
        .content .item .mid_item{
            display: inline-block;
            vertical-align: top;
            /* background-color: cadetblue; */
        }
        .content .item .right_item{
            display: inline-block;
            vertical-align: top;
            margin-left: 20px;
            /* background-color: cornsilk; */
            width: 300px;
        }


/**************************************
**             BUTTONS               **
**************************************/

/* ====== SEARCH BUTTON ========= */
div.search {
    display: block;
    background-color:rgb(254, 137, 98);
    /* width: 800px; */
    border-radius: 8px;
    width: 30%;
    padding: 5px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
}
    div.search button:hover{
        color: white;
        background-color: rgb(250, 173, 68);
    }
    button.addToCartBtn{
        margin-top: 5px;
        margin-bottom: 5px;
        /* height: 40px;
        width: 80px; */
        padding: 10px 25px;
        border: none;
        border-radius: 15px;
        text-align: center;
        font-size: 18px;
        border: 2px solid rgb(254, 137, 98); 
        background-color: white; /* Green */
        /* webkit-transition-duration: 0.4s; Safari */
        transition-duration: 0.4s;
    }
        button.addToCartBtn:hover {
            background-color: rgb(254, 137, 98); /* Green */
            color: white;
            /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); */
        }
    

/* ============ each product ADD to CARD BUTTON */
.item button{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    border: 2px solid rgb(254, 137, 98); 
    background-color: white; /* Green */
    /* webkit-transition-duration: 0.4s; Safari */
    transition-duration: 0.4s;
}
    .item button:hover {
        background-color: rgb(254, 137, 98); /* Green */
        color: white;
        /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); */
    }

