/* new_product.css */
*{
    /* outline: 1px dotted red; */
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
div.wrapper{
    /* align-content: center; */
    margin-left: 8%;
    margin-right: 8%;
    min-height: 500px;
    max-width: 1300px;
}


/* ============ TOP NAV ============= */
div.topNav{
    overflow: hidden;
    background-color: rgb(254, 239, 231);
    min-height: 42px;
    align-content: center;
}
/* ---------- LOGO ---------- */
    .topNav img{
        width: 180px;
        display: inline-block;
    }
    .topNav .center_title{
        display: inline-block;
        vertical-align: top;
        margin-left: 50px;
    }
    .topNav button{
        display: inline-block;
        vertical-align: top;
        margin: 10px;
        padding: 10px;
    }


    /* ============= DASHBOARD =========== */
/* ----------- container ---------- */
div.dashboard_container{
    background-color: rgb(254, 239, 231);
    min-height: 400px;
    padding: 5px;
}
/* ----------- all inside CREATE ----- */
    div.create_product{
        background-color: rgb(255, 225, 203);
        border: 1px solid black;
        border-radius: 15px;
        padding: 8px;
    }
    /*==== form is inside here ===*/
    div.create_form{
        border: 1px solid black;
        width: 70%;
        margin: 0 auto;
        border-radius: 15px;
        background-color: rgb(255, 239, 232);
        padding: 5px;
        text-align: center;
    }
    /* ========= FORM =============== */
        div.labels{
            margin-right: 220px;
            border-radius: 15px;
            font-size: 16pt;
            text-align: right;
            padding: 10px;
            width: 600px;
            min-height: 200px;
            display: inline-block;
            vertical-align: top;
            background-color: rgb(255, 239, 232);
        }
            .labels input{
                height: 25px;
                margin-bottom: 5px;
                font-size: 14pt;
            }
            .labels textarea{
                width: 210px;
                height: 50px;
                resize: none;
            }



/* ============= FOOTER ============== */
div.footer{
    background-color: rgb(250, 173, 68);
    height: 30px;
    font-size: 8pt;
    text-align: center;
    padding-top: 10px;
}





/**************************************
**             BUTTONS               **
**************************************/
/* ---- ALL buttons styles ------ */
.labels button{
    margin-top: 10px;
    margin-bottom: 1px;
    /* height: 40px;
    width: 80px; */
    padding: 5px 10px;
    border: none;
    border-radius: 15px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #4CAF50; 
    background-color: white; /* Green */
    /* webkit-transition-duration: 0.4s; Safari */
    transition-duration: 0.4s;
}
    .labels button:hover {
        background-color: #4CAF50; /* Green */
        color: white;
        /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); */
    }

    /* ======== EDIT button TOP ====== */
    button.reset_button {
        margin-right: 60px;
        border: 1px solid orange;
        background-color: white; /* Green */
    }
        button.reset_button:hover{
            background-color: orange;
        }

    /* ========= DELETE BUTTON ======= */
    button.create_button{
        border: 1px solid blue;
        background-color: white; /* Green */
    }
        button.create_button:hover{
            background-color: blue;
        }