/* ----------- TABLE --------- */
div.table{
    display: inline-block;
    min-width: 720px;
    vertical-align: top;
    margin-left: 10px;
    /* background-color: #4CAF50; */
}
tr:nth-child(even){
    background-color: #DEE7E7;
}
.product_list table{
    padding: 10px;
    width: 90%; 
    margin: 0 auto;
    margin-left: 110px;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid #121619;
    /* border-collapse: collapse; */
}
.product_list thead{
    background-color: #BCD4DE ;
    color: white;
    border-collapse: collapse;
}
.product_list thead, tr, td{
    border-bottom: 1px solid #ddd;
}
.product_list tr:hover {background-color: #f5f5f5;}
.product_list .table img{
    height: 40px;
}