<p>
    checkout works! {{cart | json}}
    <hr>

    <div class="table">

        <table>
            <thead>
                <td>Product Name</td>
                <td>Qty</td>
                <td>Price</td>
                <td>Total</td>
                <td>Actions</td>
            </thead>
            <tbody>
                <tr *ngFor="let product of cartProducts">
                    <td>{{product.product_name}}</td>
                    <td>{{product.qty}}</td>
                    <td>$ {{product.price}}</td>
                    <td>$ {{product.total_price}}</td>
                    <td>
                        <button [routerLink]="['/edit/' , product.id]" class="edit_button">EDIT</button>
                        <button (click)="deleteProduct(product.id)" class="delete_button">DELETE</button>
                    </td>
                </tr>
            </tbody>
            Total price: $ {{final_price}}
            <br> Items in Cart: {{cart_total}}
        </table>

    </div>