<h2>Checkout</h2>
    <hr>

    <div class="table">

        <table>
            <thead>
                <td>Product Name</td>
                <td>Qty</td>
                <td>Price</td>
                <td>Total</td>
                <td>Actions</td>
            </thead>
            <tbody>
                <tr *ngFor="let product of cartProducts">
                    <td>{{product.product_name}}</td>
                    <td>
                        <button (click)="decreaseQty(product.id)">-</button>
                        {{product.qty}}
                        <button (click)="addCartQty(product.id)">+</button>
                    </td>
                    <td>$ {{product.price}}</td>
                    <td>$ {{product.total_price}}</td>
                    <td>
                            <button (click) = "clearCart()">Clear Cart</button>
                    </td>
                </tr>
            </tbody>
        </table>

        Total price: $ {{final_price}}
        <br> Items in Cart: {{cart_total}}
        
    </div>