
* {
    font-family: sans-serif;
}
/* ============ TOP NAV ============= */
div.topNav{
    overflow: hidden;
    background-color:#BCD4DE;
    min-height: 42px;
    align-content: center;
    font-family: sans-serif;
}
/* ---------- LOGO ---------- */
    .topNav img{
        width: 180px;
        display: inline-block;
    }
    .topNav .center_title{
        display: inline-block;
        vertical-align: top;
        margin-left: 50px;
    }
    .topNav button{
        display: inline-block;
        vertical-align: top;
        margin: 10px;
        padding: 10px;
        margin-left: 800px;
        margin-bottom: 20px;
        border-radius: 10px;
    }


.wrapper{
    background-color: #BCD4DE;
 
}

table, td{
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
}
thead{
    font-size: 14pt;
}

/* ===== NAV BAR ======= */

/* removes bullets from list */
ul {
    list-style-type: none;
    background-color: #DEE7E7;
    margin: 0px;
    padding: 0px;
    /* border: 1px solid #555; */
    overflow: hidden;

}

li {
    float: left;
    
}

li a:hover:not(.active) {
    background-color: #ddd;
}


/* build vertical nav bar */

li a{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
}

li a:hover{
    background-color: whitesmoke;
    color: white;
}

/* lets the user know which page they are on */
li a.active {
    background-color: whitesmoke;
    color: black;
}

/* ======= TABLE =========== */

table {
    border-collapse: collapse;
    
}

th, td {
    text-align: left;
    padding: 8px;
}
/* every other line is a different color,, makes it stripe looking */
tr:nth-child(even){
    background-color: #DEE7E7;
}
/*  when we hover over it hightlights the table */
tr:hover {
    background-color: silver;
}

