<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">
</head>

<div class="wrapper">

  <br>
  <div class="nav">
    <ul>

      <li>
        <a class="active" [routerLink]="['']">
          <i class="fas fa-home"></i>
          Home</a>
      </li>
      <li>
          <a [routerLink]="['/about']">
          
            About </a>
        </li>

      <span *ngIf="isLoggedIn['isAdmin'] === true">
        <li>
          <a [routerLink]="['admindash']"> Inventory </a>
        </li>
      </span>

      <span *ngIf="isLoggedIn['isAdmin'] === true">
        <li>
          <a [routerLink]="['/users']"> Registered Users </a>
        </li>
      </span>

      <li>
        <a [routerLink]="['/login']">Login</a>
      </li>

      <li>
        <a [routerLink]="['/register']">Register</a>
      </li>

      <li>
        <a (click)="goToProducts()"> <i id = "shirt" class="fas fa-tshirt"></i>
          Shop </a>
      </li>

      <li>

        <a (click)="goToCheckout()">
            <i class="fas fa-shopping-cart"></i>
          Cart ({{cart_total}})
        </a>
      </li>

    </ul>

    <!-- <h2>CART:</h2>
      {{cart | json}}
      <br>
      total items in cart => {{cart_total}}
      <br>
      SKUs in cart => {{cart.length}} -->
    <!-- {{this.cartCount. | json}} -->

    <!-- <div *ngIf="isLoggedIn['loggedIn'] === true">
      <button (click)="destroySession()"> CLEAR SESSION / LOGOUT </button>
    </div> -->

    <!-- ============= TOP NAV BAR ============== -->
    <div class="topNav">
      <div class="center_title">
      </div>
      <span *ngIf="isLoggedIn['loggedIn'] === true">
        <button (click)="destroySession()"> Log Out</button>
      </span>
    </div>

  </div>