
* {
    font-family: sans-serif;

}
.wrapper{
    margin: auto;
    padding: 0px;
    width: 750px;
    height: 130px;
}

    .topNav button{
        display: inline-block;
        vertical-align: top;
        margin: 10px;
        margin-top: 0px;
        padding: 8px;
        margin-bottom: 20px;
        border-radius: 10px;
        background-color: #3A445D;
        color: white;
    }



table, td{
    margin: auto;
    border-collapse: collapse;
}
thead{
    font-size: 14pt;
}

/* ===== NAV BAR ======= */

/* removes bullets from list */
ul {
    list-style-type: none;
    border-bottom: 1px solid #3A445D;
    padding: 0px;
    overflow: hidden;

}

li {
    float: left;
    
}

li a:hover:not(.active) {
    background-color: #191923;
}


/* build vertical nav bar */

li a{
    
    display: block;
    color: #000;
    padding: 8px 25px;
    padding-right: 25px;
    text-decoration: none;
    text-align: center;
    
}

li a:hover{
    background-color: whitesmoke;
    color: white;
}

/* lets the user know which page they are on */
li a.active {
    background-color: white;
    color: black;
}

/* ======= TABLE =========== */

table {
    border-collapse: collapse;
    
}

th, td {
    text-align: left;
    padding: 8px;
}
/* every other line is a different color,, makes it stripe looking */
tr:nth-child(even){
    background-color: #DEE7E7;
}
/*  when we hover over it hightlights the table */
tr:hover {
    background-color: silver;
}
#shirt{
    color: rgb(36, 65, 140);
}




