

/* *********** SLIDE ********** */

.mySlides {
    display:none
}
.w3-left, .w3-right, .w3-badge {
    cursor:pointer;
}
.w3-badge {
    height:13px;
    width:13px;
    padding:0;
}

#pic_container{
    max-width:1000px;  
}

#pic_container img{
    height: 550px;
}

/* TOP SELLER SECTION */
#top_seller h3{
    margin-top: 250px;
    text-align: center;
}

#top_seller .pics{
    /* border: 1px solid red; */
    /* border-top: 1px solid grey; */
    margin-bottom: 20px;
    margin-left: 50px;
}
.box{
    /* border: 1px solid purple; */
    display: inline-block;
    width: 20%;
    margin-left: 30px;

}
.bottom-pics {
 height: 250px;
 width: 90%;
 margin: 10px;
 /* margin-left: 60px; */
 
 
}


