<div class="wrapper">
 
  </div>

  <div *ngIf="sessionExists">
    <button (click)="destroySession()"> CLEAR SESSION / LOGOUT </button>
  </div>
<!-- overflow makes it responsive -->
  <div style = "overflow-x: auto">
  <h3>Registered Users</h3>
  <table>
    <thead>
      <td>ID</td>
      <td>First Name</td>
      <td>Last Name</td>
      <td>Email</td>
      <td>Created_at</td>
      <td>Updated_at</td>
      <td>Admin</td>
    </thead>
    <tbody>
      <tr *ngFor="let user of allUsers">
        <td>{{ user.id }}</td>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.date_created }}</td>
        <td>{{ user.updated_at }}</td>
        <td>{{ user.admin}}</td>
      </tr>
    </tbody>
  </table>
  </div>
