/* main.component */
* {
    font-family: sans-serif;
    
}
.wrapper{
   
    background-color: white;
    padding: 5px;
}

table, td{
    margin: auto;
    border: 1px solid black;
    
    border-collapse: collapse;
}
thead{
    font-size: 14pt;
}

/* ===== NAV BAR ======= */

/* removes bullets from list */
ul {
    list-style-type: none;
    
    background-color: white;
    margin: 0px;
    padding: 0px;
    /* border: 1px solid #555; */
    overflow: hidden;

}

li {
    float: left;
}

li a:hover:not(.active) {
    background-color: #ddd;
}


/* build vertical nav bar */

li a{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
}

li a:hover{
    background-color: whitesmoke;
    color: white;
}

/* lets the user know which page they are on */
li a.active {
    background-color: whitesmoke;
    color: black;
}

/* ======= TABLE =========== */

table {
    border-collapse: collapse;
    
}

th, td {
    text-align: left;
    padding: 8px;
}
/* every other line is a different color,, makes it stripe looking */
tr:nth-child(even){
    background-color: #F8E9E9;
}
/*  when we hover over it hightlights the table */
tr:hover {
    background-color: white;
    opacity: 0.5px;
}

