<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>



    <div id="pic_container" class="w3-content w3-display-container">
     
        <h3>MEN'S FASHION</h3>
        <img src="/assets/images/homepic5.png" style="width:100%" alt="">


    </div>

    <div id="top_seller">

        <h3>TOP SELLERS</h3>
        <hr>
        <div class="pics">
            <div class = "box">
                <img class ="bottom-pics" src="/assets/images/men-wear2.jpg"  alt="">
                <br>
            Price: $ 20.99
            <br>
           
            ADD TO CART
            </div>

            <div class = "box">
            <img class ="bottom-pics" src="/assets/images/men-wear3.jpg"  alt="">
            <br>
            Price: $ 20.99
            <br>
          
            ADD TO CART
            </div>

            <div class = "box">
            <img class ="bottom-pics" src="/assets/images/men-wear1.jpg"  alt="">
            <br>
            Price: $ 20.99
            <br>
           
            ADD TO CART
            </div>

            <div class = "box">
                    <img class ="bottom-pics" src="/assets/images/homepic3.jpg"  alt="">
                    <br>
                    Price: $ 20.99
                    <br>
                   
                    ADD TO CART
                    </div>
        </div>
    </div>

</body>