.wrapper{
    background-color: rgb(241, 246, 246);
    height: 30px;;
    padding: 5px;
    min-height: 50px;
}

/* ============= FOOTER ============== */
div.footer{
    background-color: rgb(241, 246, 246);
    height: 30px;
    font-size: 10pt;
    text-align: center;
    padding-top: 10px;
}