* {
    font-family: sans-serif;
}

.wrapper{
    background-color: black;
    height: 30px;;
    padding: 5px;
    min-height: 50px;
}

/* ============= FOOTER ============== */
div.footer{
    background-color: black;
    height: 30px;
    font-size: 10pt;
    text-align: center;
    padding-top: 10px;
    color: white;
}

.footer a {
    color: white;
}